{% extends "layout.html" %}

{% block body %}
<h3>
  Selaa avainsanoja
</h3>
<div class="alert alert-info">
  Avainsanaa klikkaamalla pääset selaamaan kaikkia drinkkejä, joihin on liitetty kyseinen avainsana.
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Avainsana</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for keyword in keywords %}
    <tr>
      <td><a href="{{url_for('search_drinks')}}?keyword={{keyword.id}}">{{ keyword.name }}</a></td>
      <td>
        {% if current_user.roles == "3" %}
        <a href="{{url_for('keywords_edit', keyword_id=keyword.id)}}"><button class="btn btn-primary">Muokkaa</button></a>
        <a href="{{url_for('keywords_delete', keyword_id=keyword.id)}}"><button class="btn btn-danger">Poista</button></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>
  <a href="/keywords/new"><button class="btn btn-outline-success">Lisää uusi avainsana</button></a>
</p>
{% endblock %}