{% extends "layout.html" %}

{% block body %}
<h1> Drinkkiarkisto</h1>
<br><br>
<form method="GET" action="{{ url_for('search_drinks') }}">
    <div class="form-group row">
        <label for="search" class="col-sm-2 col-form-label">{{form.query.label}}</label>
        <div class="col-sm-4">
            {{form.query(class_="form-control")}}
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Hae">
        </div>
    </div>
</form>
<div class="row">
    <h4>Tai</h4>
</div>
<div class="row" style="margin-top:15px;">
    <div class="col-sm-3">
        <a href="{{ url_for('drinks_index') }} " class="btn btn-outline-primary">Selaa kaikkia drinkkejä</a>
    </div>
    <div class="col-sm-3">
        <a href="{{ url_for('ingredients_index') }} " class="btn btn-outline-primary">Selaa kaikkia ainesosia</a>
    </div>
    <div class="col-sm-3">
        <a href="{{ url_for('keywords_index') }} " class="btn btn-outline-primary">Selaa kaikkia avainsanoja</a>
    </div>
</div>
<div class="row" style="margin-top:50px;">
    <div class="card" style="width:50%">
        <div class="card-body">
            <h5 class="card-title">Tilastoja</h5>
            <h6 class="card-subtitle mb-2 text-muted">Tällä hetkellä drinkkiarkistossa:</h6>
            <div class="card-text" style="margin-top:15px;">
                <table class="table table-sm">
                    <tr><td>Drinkkejä</td><td>{{stats.drinks}}kpl</td></tr>
                    <tr><td>Ainesosia</td><td>{{stats.ingredients}}kpl</td></tr>
                    <tr><td>Avainsanoja</td><td>{{stats.keywords}}kpl</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}