{% extends "layout.html" %}

{% block body %}
<h3>
  Selaa ainesosia
</h3>
<div class="alert alert-info">
  Ainesosaa klikkaamalla pääset selaamaan kaikkia drinkkejä, jotka sisältävät kyseisen ainesosan.
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Ainesosa</th>
      <th scope="col">Ykiskkö</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for ingredient in ingredients.items %}
    <tr>
      <td><a href="{{url_for('search_drinks')}}?ingredient={{ingredient.id}}">{{ ingredient.name }}</a></td>
      <td>{{ ingredient.unit }}</td>
      <td>
        {% if current_user.is_authenticated and current_user.role.name == "ADMIN" %}
        <a href="{{url_for('ingredients_edit', ingredient_id=ingredient.id)}}" class="btn btn-primary">Muokkaa</a>
        <a href="{{url_for('ingredients_delete', ingredient_id=ingredient.id)}}" class="btn btn-danger" onclick="return confirm('Oletko varma?')">Poista</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "pagination.html" %}

<p>
  <a href="/ingredients/new" class="btn btn-outline-success">Lisää uusi ainesosa</a>
</p>
{% endblock %}