{% extends "layout.html" %}

{% block body %}
<div class="card" style="width:70%">
    <div class="card-body">
        <h5 class="card-title">{{drink.name}}</h5>

        {% if drink.instructions is not none %}
        <h6>Ohjeet</h6>
        <p class="card-text">
            {{drink.instructions}}
        </p>
        {% else %}
        <h6>Ei ohjeita</h6>
        {% endif %}


        {% if drink.ingredients|length > 0 %}
        <p class="card-text"><b>Ainesosat</b></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Määrä</th>
                </tr>
            </thead>
            <tbody>
                {% for i in drink.ingredients %}
                <tr>
                    <td>{{i.ingredient.name}}</td>
                    <td>
                        {% if i.amount > 0 %}
                        {{i.amount}} {{i.ingredient.unit}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if drink.tags|length > 0 %}
        <p class="card-text"><b>Avainsanat</b></p>
        <ul class="list-group list-group-flush">
            {% for keyword in drink.tags %}
            <li class="list-group-item">{{keyword.name}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>

        {% if drink.user is not none %}
        <p class="card-text">
            <b>Drinkin lisääjä: </b>{{drink.user.username}} ({{drink.user.name}})
        </p>
        {% endif %}

        {% if current_user.roles == "3" %}
        <p class="card-text">
            <a href="{{url_for('drinks_edit', drink_id=drink.id)}}" class="btn btn-success">Muokkaa</a>
            <a href="{{url_for('drinks_delete', drink_id=drink.id)}}" class="btn btn-danger">Poista</a>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}