{% extends "layout.html" %}

{% block body %}
{% if form is none %}
<div class="alert alert-danger">
    Drinkkiä ei löytynyt!
</div>
{%else%}
<div class="card" style="width:70%">
    <div class="card-body">
        <h5 class="card-title">{{drink.name}}</h5>

        {% if not drink.accepted %}
        <div class="alert alert-danger" style="width:50%;">
            Drinkkiä ei ole vielä julkaistu!
        </div>
        {% endif %}

        {% if drink.instructions is not none and drink.instructions|length > 0 %}
        <h6>Ohjeet</h6>
        <p class="card-text">
            {% for line in drink.instructions %}
                {{line}}<br>
            {% endfor %}
        </p>
        {% else %}
        <h6>Ei ohjeita</h6>
        {% endif %}


        {% if drink.ingredients|length > 0 %}
        <p class="card-text"><b>Ainesosat</b></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Määrä</th>
                </tr>
            </thead>
            <tbody>
                {% for i in drink.ingredients %}
                {% if i.ingredient.accepted %}
                <tr>
                    <td>{{i.ingredient.name}}</td>
                    <td>
                        {% if i.amount is not none %}
                        {{i.amount}} {{i.ingredient.unit}}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if drink.tags|length > 0 %}
        <p class="card-text"><b>Avainsanat</b></p>
        <ul class="list-group listauthen-group-flush">
            {% for keyword in drink.tags %}
            {% if keyword.accepted %}
            <li class="list-group-item">{{keyword.name}}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        <br>

        {% if drink.user is not none %}
        <p class="card-text">
            <b>Drinkin lisääjä: </b><a href="{{ url_for('view_profile', profile_id=drink.user.id) }}">{{drink.user.username}} ({{drink.user.name}})</a>
        </p>
        {% endif %}

        {% if current_user.is_authenticated and current_user.role.name == "ADMIN" %}
        <p class="card-text">
            <a href="{{url_for('drinks_edit', drink_id=drink.id)}}" class="btn btn-success">Muokkaa</a>
            <a href="{{url_for('drinks_delete', drink_id=drink.id)}}" class="btn btn-danger">Poista</a>
        </p>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}