{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('drinks_save_edit', drink_id=drink.id) }}" style="padding-bottom: 100px;">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="name">{{form.name.label}}</label>
      {{form.name(class_="form-control")}}
    </div>
  </div>
  {% if form.name.errors|length > 0 %}
  <div class="form-row">
    <div class="alert alert-danger col-md-4">
      <ul>
        {% for error in form.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="name">{{form.instructions.label}}</label>
      {{form.instructions(class_="form-control")}}
    </div>
  </div>
  {% if form.instructions.errors|length > 0 %}
  <div class="form-row">
    <div class="alert alert-danger col-md-4">
      <ul>
        {% for error in form.instructions.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  {% if drink.ingredients|length > 0 %}
  {% for i in drink.ingredients %}
  <div class="form-row">
    <div class="form-group col-sm-2">
      <label for="amount">Määrä</label>
      {% if i.amount is none %}
      <input class="form-control" value="" name="amount-{{loop.index}}">
      {% else %}
      <input class="form-control" value="{{i.amount}}" name="amount-{{loop.index}}">
      {% endif %}
    </div>
    <div class="form-group col-sm-1" style="padding-top:35px;">
      {{i.ingredient.unit}}
    </div>
    <div class="form-group col-sm-3" style="padding-top:35px;">
      {{i.ingredient.name}}
    </div>
  </div>
  {% endfor %}
  {% endif %}
  
  {% if form.ingredientError|length > 0 %}
  <div class="form-row">
    <div class="alert alert-danger col-md-4">
      <ul>
        {% for error in form.ingredientError %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}


  <input type="submit" value="Tallenna" class="btn btn-success" />
</form>
{% endblock %}