{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Drinkki</th>
      <th></th>
      <th></th>
    </tr>
    {% for drink in drinks %}
    <tr>
      <td>{{ drink.name }}</td>
      <td>
      <a href="{{url_for('get_drink', drink_id=drink.id)}}"><button>Näytä</button></a>
      </td>
      <td><a href="{{url_for('drinks_edit', drink_id=drink.id)}}"><button>Muokkaa</button></a></td>
    </tr>
    {% endfor %}
  </table>
  <p><a href="/drinks/new">Lisää uusi drinkki</a></p>
{% endblock %}