{% extends "layout.html" %}

{% block body %}
<h3>Selaa drinkkejä</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Drinkki</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for drink in drinks.items %}
    <tr>
      <td>
        <a href="{{url_for('get_drink', drink_id=drink.id)}}">{{ drink.name }}</a>
      </td>
      <td>
        {% if current_user.is_authenticated and current_user.role.name == "ADMIN" %}
        <a href="{{url_for('drinks_edit', drink_id=drink.id)}}"><button class="btn btn-primary">Muokkaa</button></a>
        <a href="{{url_for('drinks_delete', drink_id=drink.id)}}"><button class="btn btn-danger">Poista</button></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "pagination.html" %}

<p>
  <a href="/drinks/new"><button class="btn btn-outline-success">Lisää uusi drinkki</button></a>
</p>
{% endblock %}