{% extends "layout.html" %}
{% block body %}
<h2>Lisää uusi drinkki</h2>
<div class="alert alert-info">
  Anna drinkille kuvaava nimi ja mahdolliset valmistusohjeet.<br>
  Ainesosia saa lisättyä "Lisää ainesosia" -napista. Jos ainesosalla ei ole yksikköä (esim. jää) aseta määräksi 0.<br>
  Toistaiseksi ainesosat ja avainsanat täytyy lisätä erikseen (selaa sivun kautta), jos niitä ei löydy tietokannasta valmiiksi.
</div>
<h4 class="text-muted">Täydä tiedot</h4>
<form method="POST" action="{{ url_for('drinks_create') }}">
  {{form.ingredientsAmount}}

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="name">{{form.name.label}}</label>
      {{form.name(class_="form-control")}}
    </div>
  </div>
  {% if form.name.errors|length > 0 %}
  <div class="form-row">
    <div class="alert alert-danger col-md-4">
      <ul>
        {% for error in form.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="name">{{form.instructions.label}}</label>
      {{form.instructions(class_="form-control")}}
    </div>
  </div>
  {% if form.instructions.errors|length > 0 %}
  <div class="form-row">
    <div class="alert alert-danger col-md-4">
      <ul>
        {% for error in form.instructions.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div id="ingredientsWrapper">
    <div class="form-row" id="selectGroup">
      <div class="form-group col-xs-2">
        <label for="amount">{{form.amount.label}}</label>
        {{form.amount(class_="form-control")}}
      </div>
      <div class="form-group col-xs-5">
        <label for="ingredients">{{form.ingredients.label}}</label>
        {{form.ingredients(class_="form-control",name_="ingredients[]")}}
      </div>
    </div>
  </div>
  {% if form.ingredientError|length > 0 %}
  <div class="form-row">
    <div class="alert alert-danger col-md-4">
      <ul>
        {% for error in form.ingredientError %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div class="form-row">
      <div class="form-group col-md-5">
    <button class="btn btn-primary" type="button" onclick="createInput()">Lisää aineosia</button>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="keywords">{{form.keywords.label}}</label>
      {{form.keywords}}
    </div>
  </div>
  <br>
  <input type="submit" value="Lisää drinkki" class="btn btn-success" />
</form>

{% block javascript %}
<script type="text/javascript">
  var amount = 0; 
  function createInput() {
    amount++;
    console.log(amount)
    var cloned = $("#selectGroup").clone();
    cloned.attr("id", "");
    cloned.find("select").attr("id", "ingredients-" + amount).attr("name", "ingredients-" + (amount));
    cloned.find("input").attr("id", "amount-" + amount).attr("name", "amount-" + amount);
    cloned.appendTo("#ingredientsWrapper");
    $("#ingredientsAmount")[0].value = amount;
  }

  for (var i = 0; i < 1; i++) {
    createInput();
  }
</script>
{%endblock%}
{% endblock %}