{% extends "layout.html" %}

{% block body %}
{% if authError %}
<div class="alert alert-danger">{{authError}}</div>
{% else %}
<h2>Muokkaa profiilia {{profile.username}}</h2>
<form method="POST" action="{{ url_for('edit_user_save', profile_id=profile.id) }}" style="margin-top:50px;">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">{{form.name.label}}</label>
        <div class="col-sm-8">
            {{form.name(class_="form-control")}}
        </div>
    </div>
    {% if form.name.errors|length > 0 %}
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="alert alert-danger">
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">{{form.username.label}}</label>
        <div class="col-sm-8">
            {{form.username(class_="form-control")}}
        </div>
    </div>
    {% if form.username.errors|length > 0 %}
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="alert alert-danger">
                <ul>
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="form-row">
        <input type="submit" value="Tallenna" class="btn btn-success">
    </div>
</form>
{% endif %}
{% endblock %}