{% extends "layout.html" %}

{% block body %}
{% if user is none %}
<div class="alert alert-danger">
    Käyttäjätunnusta ei löytynyt.
</div>
{%else%}
<h6 class="text-muted">Profiili: </h6>
<h2>{{ user.username }}</h2>
<h5>Nimi: {{ user.name }}</h5>
<p>Status: {{user.role.displayName}}</p>
<h5 class="text-muted" style="margin-top:30px;">Käyttäjän lisäämät drinkit:</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Drinkki</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for drink in user.drinks %}
        <tr>
            <td>
                <a href="{{url_for('get_drink', drink_id=drink.id)}}">{{ drink.name }}</a>
            </td>
            <td>
                {% if current_user.is_authenticated and current_user.role.name == "ADMIN" %}
                <a href="{{url_for('drinks_edit', drink_id=drink.id)}}"><button class="btn btn-primary">Muokkaa</button></a>
                <a href="{{url_for('drinks_delete', drink_id=drink.id)}}"><button class="btn btn-danger">Poista</button></a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if current_user.is_authenticated and (current_user.id == user.id or current_user.role.name == "ADMIN") %}
<p>
    <a href="{{ url_for('edit_user', profile_id=user.id) }}" class="btn btn-success">Muokkaa profiilia</a>
</p>
{% endif %}
{%endif%}
{% endblock %}